/*
 scroling text start
*/
marquee{
    color: red;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    padding-top: 5px;
}
/*
 scroling text end 
*/
.finserve-logo img{
    height: 70px;
    width: auto;
    
}
.finserve-logo{
    padding: 15px 0px 10px 0px;
}
.sr01_thumb img{
    width: 370px;
    height: 300px;
    object-fit: cover;

}
.t01_head img{
    object-fit: cover;
}
/* application process start */
.Application-Process h3{
    color: black;
    font-size: 36px;
    text-align: center;
    margin: 50px 0px;

}
.appication-card{
    padding: 50px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.816);
   text-align: center;
   justify-content: space-between;
   margin: 50px 10px;
   box-shadow: 1px 0px;
   box-shadow: 3px 3px 3px #d9480f;
}
.appication-card h4, h6{
    color: white;
}
.overlay-number{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    /* border: 2px solid black; */
    top: -35px;
    right: 150px;
    background-color: #d9480f;
    color: white;
    font-size: 30px;
    padding: 18px 0px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
/*
application process end 
*/

.contact-number{
    color: #d9480f;
    font-weight: bold;
    font-size: 30px;
    margin: 10px 0px;
}
.aw_logo img{
    width: 250px;
    height: 100px;
    box-shadow: 5px 5px 5px #d9480f;
}
.padding-top{
    padding-top: 0px;
}
.address a{
    line-height: 20px !important;
}
.icon_box_02{
    padding: 70px ;
}
.fact_01 h2{
    margin-left: 25px;
}
.fact_01{
    border-right: 1px solid #d9480f;
}
/*
=====================
management-team-start
=====================
*/

/*
aditya-sriwastava start 
*/
.black-box{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
    text-align: justify;
}
.aditya-pic img{
    border-radius: 15px;
    margin-right: 30px;
    width: 260px;
    height: 260px;
    object-fit: cover;
    box-shadow: 5px 5px 5px #d9480f;
    
    
}
.aditya-info{
    padding: 80px;
}
.Aditya-content h3,h5,p{
    color:white;

}
.Aditya-content h3{
    text-decoration: underline;
    text-decoration-color: #d9480f;
}
#Ria{
    margin-top: 0px !important;
}
.bhaskar-pic img{
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow:2px 2px 2px 2px black;

}
.bhaskar{
    border-left: 1px solid black ;
    border-right: 1px solid black ;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 80px;
}
.Bhasker-Dobriyal {
    text-align: justify;
}
/*
 aditya-sriwastava end 
*/

/*
===================
management-team-end
===================
*/



/*
=============================
about-us-royal-finserve-start
=============================
*/
.royal-finserve{
    padding: 40px 0px;
    text-align: justify;
}
.royal-finserve h2{
    text-decoration: underline;
    text-decoration-color: #d9480f;
}
.royal-finserve p{
    color: black;
    margin-bottom: 30px;
    font-size: 18px;
}
/*
============================
 about-us-royal-finserve-end
============================
*/


/*
==========================
 about-personal-loan-start 
========================== 
*/
.about-pl{
    padding: 50px;
    background-color: #eff3f8;
    border: 1px solid black;
    /* box-shadow: 0px 0px 15px 2px black inset; */
    border-radius: 10px;

}
.about-pl h3{
    font-size: 36px;
    text-decoration: underline;
    /* border: 1px dotted black; */
    /* display: block; */
    /* text-align: center; */
}
.about-pl h5{
    font-size: 24px;
    
}
.about-pl h5,p{
    color: black;
}
.about-pl p{
    font-size: 18px;
    
}
.about-pl li{
    color: black;
    font-size: 18px;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
input{
    width: 100%;
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 20px;
}
.about-pl label{
    color: black;
    font-size: 18px;
    /* font-weight: bold; */
}
.nav-pills a{
    background-color:#eff3f8;
    padding: 20px;
    margin-bottom: 15px;
    font-size: 18px;
    border: 1px solid black;
    font-weight: bold;
    /* box-shadow: 0px 0px 15px 2px black inset; */
 }
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color:#343a40;
}

/*
=========================
 about-personal-loan-end 
========================= 
*/
/* black-listed-start */
table, td,th {
    border: 2px solid black;
    font-size: 18px;
    background-color:rgba(128, 128, 128, 0.1);
    text-align: center;
}
.table td, .table th{
    padding-top: 50px;
}

/* black-listed-end */



/*
-------------
common-collor
------------- 
*/
.black-bg{
    background-color: black;
}
/*
-------------
common-collor
------------- 
*/

.silder-title{
    font-size: 60px;
    color: black;
}
.carousel-caption p{
    color: gray;
    font-size: unset;
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-default{
    background-color: #d9480f;
    color: #fff;
    border-color: #d9480f;
    font-size: 23px;
    padding: 12px 38px;
}
.btn-default:hover{
    background-color: #212529;
    color: #FFF;
    border:1px solid #d9480f;
}
.carousel-item img{
    width: 100%;
    background-size: cover;
    height: 100%;
}
.person img{
        width: auto;
        max-width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        border: none;
        line-height: normal;
        vertical-align: middle;
}
.new a{
    color: #FFF;
}