/*------------------------------------------------------------------------------
/ 1. About Section
------------------------------------------------------------------------------*/
.about_us_section{
    padding: 100px 0;
}
.ab_content h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #d9480f;
    line-height: .8;
    margin: 0 0 8px;
}
.ab_content h2{
    font-size: 38px;
    line-height: 57px;
    margin: 0 0 24px;
}

/*------------------------------------------------------------------------------
/ 2. Fact Section
------------------------------------------------------------------------------*/
.fact_section{
    position: relative;
    padding: 0 0 70px;
}

/*------------------------------------------------------------------------------
/ 3. Service Section
------------------------------------------------------------------------------*/
.service_section{
    position: relative;
    padding: 100px 0 102px;
    background: #f8f9fa;
}
.service_section .sec_title{
    margin-bottom: 24px;
}
/*------------------------------------------------------------------------------
/ 4. Quote Section
------------------------------------------------------------------------------*/
.quote_section{
    position: relative;
    background: url(../../vyom/images/bg/1.jpg) no-repeat top center #f0f2f3;
    padding: 100px 0 68px;
}
.quote_section .sec_title{
    margin-bottom: 63px;
}
.quote_form{
    margin: 0 0 66px;
}
/*------------------------------------------------------------------------------
/ 5. Case Section
------------------------------------------------------------------------------*/
.case_section{
    position: relative;
    padding: 100px 0;
}
.case_section .sec_title{
    margin-bottom: 25px;
}
.case_section .dvd_bar{
    margin-bottom: 30px;
}
/*------------------------------------------------------------------------------
/ 6. Testimonial Section
------------------------------------------------------------------------------*/
.testimonial_section{
    position: relative;
    padding: 100px 0;
    background: #f8f9fa;
}
.testimonial_section .sec_title{
    margin-bottom: 24px;
}
.testimonial_section .owl-carousel .owl-dots{
    padding-top: 10px;
}
.testimonial_section.white_bg{
    background: #FFF;
}
/*------------------------------------------------------------------------------
/ 7. Pricing Section
------------------------------------------------------------------------------*/
.pricing_section{
    position: relative;
    padding: 101px 0;
    background: url(../images/bg/3.jpg) no-repeat top center #f8f9fa;
}
.pricing_section .pricing_01{
    margin-top: 30px;
}
.pricing_section .pricing_01.active{
    margin-top: 0;
}
.pricing_section .sec_title{
    margin: 0 0 54px;
}
.pricing_section .notes{
    padding-top: 32px;
}
/*------------------------------------------------------------------------------
/ 8. Pricing Section
------------------------------------------------------------------------------*/
.blog_section{
    position: relative;
    padding: 100px 0;
    background: #FFF;
}
.blog_section .sec_title{
    margin-bottom: 54px;
}
/*------------------------------------------------------------------------------
/ 9. CTA Section
------------------------------------------------------------------------------*/
.cta_section{
    position: relative;
    padding: 53px 0 52px;
    background: #d9480f;
}
.cta_section h2{
    font-size: 26px;
    line-height: 39px;
    margin: 4px 0 0;
    color: #FFF;
}
.cta_section a.fnc_btn{
    margin-bottom: -6px;
}
/*------------------------------------------------------------------------------
/ 10. Quote Section 2
------------------------------------------------------------------------------*/
.quote_section_2{
    position: relative;
    background: url(../images/bg/4.jpg) no-repeat center center / cover;
    padding: 0 0 68px;
}
.quote_section_2 .quote_form_2{
    margin-top: -124px;
}
.mb66{
    margin-bottom: 66px;
}
/*------------------------------------------------------------------------------
/ 10. About Us Section 2
------------------------------------------------------------------------------*/
.about_us_section_2{
    position: relative;
    padding: 100px 0 83px;
}
.ab_content_2 .sub_title{
    margin-bottom: 8px;
}
.ab_content_2 .sec_title{
    margin: 0 0 24px;
}
.mb34px{
    margin-bottom: 34px;
}
.pdt53{
    padding-top: 53px;
}
/*------------------------------------------------------------------------------
/ 12. Service Section 2
------------------------------------------------------------------------------*/
.service_section_2{
    position: relative;
    padding: 100px 0;
    background: #f8f9fa;
}
.service_section_2 .sec_title{
    margin-bottom: 24px;
}
/*------------------------------------------------------------------------------
/ 13. Service Section 2
------------------------------------------------------------------------------*/
.fun_fact_section{
    position: relative;
    background: url(../images/bg/6.jpg) no-repeat center center / cover;
    padding: 119px 0 123px;
}
.fun_fact_section .fact_01 h2{
    color: #FFF;
}
.fun_fact_section .fact_01 h5{
    color: #ced4da;
}
/*------------------------------------------------------------------------------
/ 14. Team Section
------------------------------------------------------------------------------*/
.team_section{
    position: relative;
    padding: 100px 0;
}
.team_section .sec_title{
    margin-bottom: 54px;
}
/*------------------------------------------------------------------------------
/ 15. Team Section
------------------------------------------------------------------------------*/
.pricing_section_2{
    position: relative;
    padding: 100px 0;
    background: #f8f9fa;
}
.pdt30{
    padding-top: 30px;
}
.pricing_section_2 .sec_title{
    margin-bottom: 54px;
}
/*------------------------------------------------------------------------------
/ 15. Case Section 02
------------------------------------------------------------------------------*/
.case_section_02{
    position: relative;
    padding: 100px 0 0;
}
.case_section_02 .sec_title{
    margin-bottom: 25px;
}
.case_section_02 .dvd_bar{
    margin-bottom: 70px;
}
/*------------------------------------------------------------------------------
/ 16. CTA Section 02
------------------------------------------------------------------------------*/
.cta_section_2{
    position: relative;
    background: url(../images/bg/8.png) no-repeat center center / cover #212529;
}
.cta_content{
    position: relative;
    padding: 121px 0 100px 65px;
}
.cta_content .sub_title{
    margin: 0 0 8px;
}
.cta_content .sec_title{
    margin: 0 0 24px;
}
.cta_content p{
    margin: 0 0 29px;
}
/*------------------------------------------------------------------------------
/ 17. Features Section
------------------------------------------------------------------------------*/
.features_section{
    position: relative;
    background: url(../images/bg/8.png) repeat center center / cover #212529;
    padding: 100px 0;
}
.features_section .sec_title{
    margin-bottom: 54px;
}
.notes.lights{
    color: #868e96;
}
.notes.lights a{
    color: #FFF;
}
.notes.lights a:hover{
    color: #d9480f;
}
/*------------------------------------------------------------------------------
/ 18. Process Section
------------------------------------------------------------------------------*/
.process_section{
    position: relative;
    background: url(../images/bg/9.jpg) no-repeat center top #f8f9fa;
    padding: 100px 0 70px;
}
.process_section .sec_title{
    margin-bottom: 54px;
}
.mb91px{
    margin-bottom: 91px;
}
/*------------------------------------------------------------------------------
/ 19. Process Section
------------------------------------------------------------------------------*/
.fun_fact_section_2{
    position: relative;
    background: url(../images/bg/10.jpg) no-repeat center top #f8f9fa;
    padding: 100px 0 100px;
}
.fun_fact_section_2 .fact_01 h2{
    color: #FFF;
}
.fun_fact_section_2 .fact_01 h5{
    color: #ced4da;
}
.fun_fact_section_2 .sec_title{
    margin-bottom: 53px;
}
.mt99{
    margin-top: 99px;
}
.fun_fact_section_2 .quote_form{
    background: url(../images/bg/8.png) no-repeat center center #21252a;
    margin-bottom: 0;
}

/*------------------------------------------------------------------------------
/ 20. Modification
------------------------------------------------------------------------------*/
.gray_bg {
    background: #f8f9fa;
}
.page_banner.bg_12{
    background: url(../images/bg/12.jpg) no-repeat center center / cover;
}
.page_banner.bg_13{
    background: url(../images/bg/13.jpg) no-repeat center center / cover;
}
.page_banner.bg_14{
    background: url(../images/bg/14.jpg) no-repeat center center / cover;
}
.page_banner.bg_15{
    background: url(../images/bg/15.jpg) no-repeat center center / cover;
}
.page_banner.bg_16{
    background: url(../images/bg/16.jpg) no-repeat center center / cover;
}
.page_banner.bg_17{
    background: url(../images/bg/17.jpg) no-repeat center center / cover;
}
.page_banner.bg_18{
    background: url(../images/bg/18.jpg) no-repeat center center / cover;
}
.page_banner.bg_19{
    background: url(../images/bg/19.png) no-repeat center center #f8f9fa;
}
.page_banner.bg_20{
    background: url(../images/bg/20.jpg) no-repeat center center / cover;
}
.page_banner.bg_21{
    background: url(../images/bg/21.jpg) no-repeat center center / cover;
}
.page_banner.bg_23{
    background: url(../images/bg/23.jpg) no-repeat center center / cover;
}
.page_banner.bg_24{
    background: url(../images/bg/24.jpg) no-repeat center center / cover;
}
.page_banner.bg_26{
    background: url(../images/bg/26.jpg) no-repeat center center / cover;
}
.page_banner.bg_27{
    background: url(../images/bg/27.jpg) no-repeat center center / cover;
}
.cols_4 .active.pricing_01{
    z-index: 3;
}
.z2 .pricing_01{
    z-index: 2;
}
.cols_4 .active_label{
    left: 94px;
}
.pricing_section_2.white_bg{
    background: #FFF;
}
.mt40px{
    margin-top: 40px;
}
.mb17{
    margin-bottom: 17px;
}
.mb44{
    margin-bottom: 44px;
}
.mb46{
    margin-bottom: 46px !important;
}
.mb43{
    margin-bottom: 43px !important;
}
.mb37{
    margin-bottom: 37px !important;
}
.mb41{
    margin-bottom: 41px !important;
}
.mb35{
    margin-bottom: 35px;
}
.pdt16{
    padding-top: 16px;
}
.mb16{
    margin-bottom: 16px;
}


/*------------------------------------------------------------------------------
/ 21. Help & FAQ Section
------------------------------------------------------------------------------*/
.help_faq_section {
    position: relative;
    padding: 100px 0 70px;
    background: #f8f9fa;
}
.help_faq_section .sec_title{
    margin-bottom: 54px;
}
.mb54px{
    margin-bottom: 54px;
}
.pb70{
    padding-bottom: 70px !important;
}
.mtm5{
    margin-top: -5px;
}


/*------------------------------------------------------------------------------
/ 22. Free Quote False Section
------------------------------------------------------------------------------*/
.false_quote_section{
    position: relative;
    background: url(../images/bg/22.jpg) no-repeat top center;
    padding: 100px 0 251px;
}


/*------------------------------------------------------------------------------
/ 23. Contact Form Section
------------------------------------------------------------------------------*/
.contact_form_section{
    position: relative;
    background: url(../images/bg/28.png) no-repeat center center;
}
.contact_form_section .sec_title{
    margin-bottom: 54px;
}


/*------------------------------------------------------------------------------
/ 24. Contact Info Section
------------------------------------------------------------------------------*/
.contact_info_section{
    position: relative;
    background: url(../images/bg/25.png) repeat top center #f8f9fa;
    padding: 70px 0 64px;
}

/*------------------------------------------------------------------------------
/ 25. Skill Section
------------------------------------------------------------------------------*/
.skill_section{
    position: relative;
    padding: 0 0 20px;
}
.skill_section .hr_row{
    margin-bottom: 70px;
}